.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#container {
  width: 400px;
  background-color: aliceblue;
  padding: px;
}
input {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 5px;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list {
  margin: 15px 0;
}
.list > li {
  background-color: antiquewhite;
  padding: 5px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
}
.btn {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}
.btn > button {
  padding: 5px;
  width: 60px;
}
